{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
<h1>Politique de Confidentialité</h1>
<p>Cette page explique notre politique de confidentialité...</p>
{% endblock %}
