{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
<div class="privacy-policy-container py-5 ">
    <h1 class="text-center vv">Politique de Confidentialité</h1>
    
    <section>
        <h2>Qui nous sommes</h2>
        <p>L’adresse de notre site web est : <a href="http://127.0.0.1:8000/">http://127.0.0.1:8000/</a>.</p>
    </section>

    <section>
        <h2>Commentaires</h2>
        <p>Lorsque les visiteurs laissent des commentaires sur le site, nous recueillons les données indiquées dans le formulaire de commentaires, ainsi que l’adresse IP du visiteur et la chaîne de l’agent utilisateur du navigateur pour aider à la détection du spam.</p>
        <p>Une chaîne anonymisée créée à partir de votre adresse e-mail (également appelée hash) peut être fournie au service Gravatar pour voir si vous l’utilisez. La politique de confidentialité du service Gravatar est disponible ici : <a href="https://automattic.com/privacy/" target="_blank" rel="noopener noreferrer">https://automattic.com/privacy/</a>. Après approbation de votre commentaire, votre photo de profil est visible par le public dans le contexte de votre commentaire.</p>
    </section>

    <section>
        <h2>Médias</h2>
        <p>Si vous téléchargez des images sur le site web, vous devriez éviter de télécharger des images avec des données de localisation intégrées (EXIF GPS). Les visiteurs du site web peuvent télécharger et extraire toutes les données de localisation des images présentes sur le site.</p>
    </section>

    <section>
        <h2>Cookies</h2>
        <p>Si vous laissez un commentaire sur notre site, vous pouvez choisir d’enregistrer votre nom, adresse e-mail et site web dans des cookies. Ceci est pour votre commodité afin que vous n’ayez pas à remplir à nouveau vos coordonnées lorsque vous laissez un autre commentaire. Ces cookies dureront un an.</p>
        <p>Si vous visitez notre page de connexion, nous établirons un cookie temporaire pour déterminer si votre navigateur accepte les cookies. Ce cookie ne contient pas de données personnelles et est supprimé lorsque vous fermez votre navigateur.</p>
        <p>Lorsque vous vous connectez, nous mettrons également en place plusieurs cookies pour enregistrer vos informations de connexion et vos choix d’affichage à l’écran. Les cookies de connexion durent deux jours et les cookies d’options d’écran durent un an. Si vous sélectionnez « Se souvenir de moi », votre connexion persistera pendant deux semaines. Si vous vous déconnectez de votre compte, les cookies de connexion seront supprimés.</p>
        <p>Si vous modifiez ou publiez un article, un cookie supplémentaire sera enregistré dans votre navigateur. Ce cookie ne contient pas de données personnelles et indique simplement l’ID du post de l’article que vous venez de modifier. Il expire après un jour.</p>
    </section>

    <section>
        <h2>Contenu intégré provenant d’autres sites web</h2>
        <p>Les articles sur ce site peuvent inclure du contenu intégré (par exemple des vidéos, images, articles, etc.). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur avait visité cet autre site.</p>
        <p>Ces sites web peuvent collecter des données sur vous, utiliser des cookies, intégrer des suivis tiers supplémentaires et surveiller votre interaction avec ce contenu intégré, y compris le suivi de votre interaction avec le contenu intégré si vous avez un compte et êtes connecté à ce site web.</p>
    </section>

    <section>
        <h2>Avec qui nous partageons vos données</h2>
        <p>Si vous demandez une réinitialisation de mot de passe, votre adresse IP sera incluse dans l’e-mail de réinitialisation.</p>
    </section>

    <section>
        <h2>Combien de temps nous conservons vos données</h2>
        <p>Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement tout commentaire de suivi au lieu de les garder dans une file d’attente de modération.</p>
        <p>Pour les utilisateurs qui s’inscrivent sur notre site web (le cas échéant), nous stockons également les informations personnelles qu’ils fournissent dans leur profil utilisateur. Tous les utilisateurs peuvent voir, éditer ou supprimer leurs informations personnelles à tout moment (sauf qu’ils ne peuvent pas changer leur nom d’utilisateur). Les administrateurs du site web peuvent également voir et éditer ces informations.</p>
    </section>

    <section>
        <h2>Quels sont vos droits sur vos données</h2>
        <p>Si vous avez un compte sur ce site, ou avez laissé des commentaires, vous pouvez demander à recevoir un fichier exporté des données personnelles que nous détenons à votre sujet, y compris toutes les données que vous nous avez fournies. Vous pouvez également demander que nous effacions toutes les données personnelles que nous détenons à votre sujet. Cela n’inclut pas les données que nous sommes obligés de conserver à des fins administratives, légales ou de sécurité.</p>
    </section>

    <section>
        <h2>Où vos données sont envoyées</h2>
        <p>Les commentaires des visiteurs peuvent être vérifiés à l’aide d’un service automatisé de détection de spam.</p>
    </section>
</div>
{% endblock %}
