{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block body %}
  <div class="privacy-policy-container py-5">
    <h1 class='vv'>Conditions d'utilisation</h1>
    <section>
      <h2>1. Introduction</h2>
      <p>Bienvenue sur notre site(<span class='vv'>LSF</span>). En accédant à notre site, vous acceptez de vous conformer et d'être lié par les conditions d'utilisation suivantes. Veuillez les lire attentivement.</p>
    </section>
    <section>
      <h2>2. Utilisation du site</h2>
      <p>Vous vous engagez à utiliser notre site uniquement à des fins légales et de manière à ne pas porter atteinte aux droits, limiter ou empêcher l'utilisation et la jouissance de ce site par un tiers. Les comportements interdits incluent le harcèlement ou la détresse d'un autre utilisateur, la transmission de contenus obscènes, offensants ou perturbateurs.</p>
    </section>
    <section>
      <h2>3. Protection des données</h2>
      <p>Nous prenons la protection de vos données personnelles très au sérieux. Veuillez consulter notre politique de confidentialité pour plus de détails sur la manière dont nous collectons, utilisons et protégeons vos informations personnelles.</p>
    </section>
    <section>
      <h2>4. Propriété intellectuelle</h2>
      <p>Tout le contenu présent sur ce site, y compris mais sans s'y limiter, les textes, graphiques, logos, images et logiciels, est la propriété de notre entreprise ou de ses concédants de licence et est protégé par les lois sur le droit d'auteur et les marques commerciales.</p>
    </section>
    <section>
      <h2>5. Limitation de responsabilité</h2>
      <p>Nous ne serons pas responsables des dommages directs, indirects, accessoires, consécutifs ou spéciaux résultant de votre utilisation du site, y compris mais sans s'y limiter, les pertes de données ou de profits, même si nous avons été informés de la possibilité de tels dommages.</p>
    </section>
    <section>
      <h2>6. Modifications des conditions</h2>
      <p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications seront publiées sur cette page et entreront en vigueur immédiatement. Il est de votre responsabilité de vérifier régulièrement les conditions pour rester informé des mises à jour.</p>
    </section>
    <section>
      <h2>7. Contact</h2>
      <p>Si vous avez des questions concernant ces conditions d'utilisation, veuillez nous contacter.</p>
    </section>
  </div>
{% endblock %}
